.swiperContainer {
    padding: 30px 0 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;

}


:global(.swiper-pagination-progressbar) {
    background-color: #b432ff;

}

:global(.swiper-pagination-progressbar .swiper-pagination-progressbar-fill) {
    background-color: #044a55;
}
