.swiperContainer {

    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}


:global(.swiper-pagination-progressbar) {
    background-color: #c15bff;

}

:global(.swiper-pagination-progressbar .swiper-pagination-progressbar-fill) {
    background-color: #07363D;
}